<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerLinks}}
</head>

<body>
    {{>header}}
    <!-- Main Header -->
    <div class="container-fluid main_hero">
        <div class="row mx-auto">
            <div class="col-md-10 col-12 col-lg-10">
                <div class="row">
                    <div class="col-md-6 col-12 main_hero_right align-items-center">
                        <figure>
                            <img src="./images/IMG-20210314-WA0109-removebg-preview (1).png" height="400px" alt="Profile">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_hero_left">
                        <h3>I'm Haseeb Alam Rafiq. A <span>Mern Stack</span>Developer</h3>
                        <a href="https://haseebalamrafiq.web.app" target="_blank"><button>My Portfolio</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>